* {
	box-sizing:border-box;
}

html{
	height: 100%;
}
body {
	background:#FAFAFA;
	min-height: 100%;
	height:100%;
	font:13px "Helvetica neue", Helvetica,sans-serif;
	margin:0;
	padding:0;
	-webkit-font-smoothing:antialiased;
}

#board {
	background:#FFFFFF;
	border-collapse:collapse;
	width:300px;
	height:302px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	transition:transform .2s;
}
#board.resetting {
	transform:scale(0);
}

#board td {
	border:1px solid #ccc;
	width:100px;
	height:100px;
	font-size:0px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	transition:all .2s;
}

#board td:hover {
	background:#FAFAFA;
}

#board td:not(:empty) {
	font-size:80px;
}

.X {
	color:#12AB9A;
}
.O {
	color:#FF9700;
}

.stats {
	background:#FFFFFF;
	text-align:center;
	margin:auto;
	width:300px;
	vertical-align:middle;
	padding:10px 0 ;
	margin-top:10px;
	border:1px solid #CCC;
}

.stats li.wohoo {
	transform:scale(3);
}
.stats ul {
	list-style-type:none;
	margin:0;
	padding:0;
	font-size:0;
}

.stats li {
	display:inline-block;
	font-size:14px;
	width:33%;
	transform:scale(1);
	transition:transform .7s;
}

.container {
	text-align:center;
	position:absolute;
	width:300px;
	top:50%;
	left:50%;
	margin-left:-150px;
	transform:translateY(-50%);
}

.turns {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
  width: 300px;
  font-size: 0;
  position: relative;
  cursor:default;
}

.turns:before {
  content: "";
  background: #e6e6e6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2%;
  width:46%;
  z-index: -1;
  border-radius: 3px;
  background:#FF9700;
  opacity:.6;
  transition:all .5s;

}
.turns.player-X:before {
	left:52%;
	background:#12AB9A;
}
.turns.player-X li:first-child {
	color:#FF9700;
}
.turns.player-X li:last-child {
	color:#FFF;
}
.turns li {
	color:#FFF;
	padding: 5px 10px;
	text-align: center;
	font-size: 15px;
	display: inline-block;
	width: 50%;
	transition:color .5s;
}
.turns li:last-child {
	color:#12AB9A;
}
